* {
  margin: 0;
  padding: 0;
}
h2 {
  color: #fff;
}
button {
  padding: 10px 15px;
  background: #000;
  border: none;
  color: #fff;
}
.block {
  min-height: 300px;
  background: #5b7184;
  border-bottom: 5px solid #fff;
}
.height {
  background: #fff;
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}
.full {
    background: #314352;
    height: 50px;
    color: #fff;
    text-align: center;
}
.section3 {
  height: 500px;
}
.section4 .tabcontent {
  background: yellow;
  width: 450px;
  height: 200px;
}
.section4 .tabcontent button {
  margin-right: 10px;
}
.section4 .tabcontent .content {
  background: green;
  width: 100%;
  height: 150px;
  display: none;
}
.section4 .tabcontent .content.active {
  display: block;
}
.section5 {
  min-height: 250px;
}
  .section5 p {
    background: #6994b9;
    margin-bottom: 10px;
    padding: 7px;
  }
  .section5 div {
    background: #2e71ab;
    padding: 20px;
    margin-bottom: 5px;
  }
.section6 {
  padding: 30px;
}
  .section6 p {
    background: yellow;
    padding: 10px;
    margin-bottom: 10px;
  }

  .section7 div * {
    display: block;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    margin: 15px;
  }

  .section8 div * {
    display: block;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    margin: 15px;
  }
.section10 {
  min-height: 100px;
}
